html, body {
    background: rgb(252,252,252);
    background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(239,239,239,1) 100%);
    background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(239,239,239,1) 100%);
    background: linear-gradient(to bottom, rgba(252,252,252,1) 0%,rgba(239,239,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#efefef',GradientType=0 );
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

::-moz-selection { background: #323984; }
::selection { background: #323984; }

.container {
    max-width: 1200px;
}

h1 {
    font-weight: 900;
    color: #373737;
    font-size: 2.2em;
    padding: 35vh 0;
    text-transform: uppercase;
}

h2 {
    font-weight: 700;
    color: #373737;
    font-size: 1.2em;
    text-transform: uppercase;
    padding-top: 10vh;
    padding-bottom: 6vh;
}

input, select, textarea {
    color: #373737;
}

.btn {
    font-weight: 700;
    color: white;
    font-size: 1em;
    background-color: #171A3D;
    border-radius: 0;
    margin-bottom: 60px;
    text-transform: uppercase;
    box-shadow: none;
    outline: none;
}

.btn:hover {
    color: #323984;
    background-color: #e6e6e6;
}

form {
    border-radius: 0;
}

.form-control {
    box-shadow: none;
    outline: none;
    border: 0;
    background: none;
    max-width: 960px;
    border-bottom: 2px solid #999999;
    margin-top: 35px;
    border-radius: 0;
}

.radio {
    margin-bottom: 20px;
    color: #999999;
    font-weight: 300;
}